body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color:#303030;
    color: white;
}


.table{
    color: white;
    margin-top: 20px;
}

.card-text{
    color: #060607;
}

.lead{
    font-family: 'Source Sans Pro', sans-serif;
}

.mapouter{
    position:relative;
    text-align:right;
    height:300px;
    width:300px;}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:300px;
    width:300px;
}

#header{
    padding: 10px;
    font-family: 'Epilogue', sans-serif;
    background-color:#303030;
}

#urlInput{
    width: 70%;
}

#refresh-time{
    font-size: x-small;
}

