body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color:#303030;
    color: white;
}

.jumbotron{
    margin-bottom: 15px;
    text-align: center;
}
.lead{
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 5px;
}

.listing-card, .listing-map{
    margin-top: 15px;
}
.card-text{
    color: #060607;
}

.mapouter{
    position:relative;
    text-align:right;
    height: 100%;
    width: 100%;
    min-height: 300px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;
}

hr.dashed {
    border-top: 2px dashed #fff;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    visibility: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#header{
    padding: 10px;
    font-family: 'Epilogue', sans-serif;
    background-color:#303030;
}

#urlInput{
    width: 100%;
}

#refresh-time{
    font-size: x-small;
    margin-bottom: 10px;
}