body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color:#303030;
    color: white;
}

.jumbotron{
    margin-bottom: 15px;
    text-align: center;
}
.lead{
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 5px;
}

.listing-card, .listing-map{
    margin-top: 15px;
}
.card-text{
    color: #060607;
}

.mapouter{
    position:relative;
    text-align:right;
    height: 100%;
    width: 100%;
    min-height: 300px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;
}

hr.dashed {
    border-top: 2px dashed #fff;
}

#header{
    padding: 10px;
    font-family: 'Epilogue', sans-serif;
    background-color:#303030;
}

#urlInput{
    width: 100%;
}

#refresh-time{
    font-size: x-small;
    margin-bottom: 10px;
}